.effect-box{
  background-image: url(../../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.effect{
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.effect__img{
  margin-right: 72px;
}
.effect__inner{
  &-title{
    color: #000000;
    font-weight:700;
    line-height: 30px;
    font-size: 30px;
    margin-top: 85px;
  }
  &-text{
    color:#283645;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top:26px;
  }
  &-link{
    color: #D22856;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    border-bottom:3px solid #D22856;
    transition: all 0.3ms;
  }
}
.effect__inner-link:hover{
  color: #fa0446;
  border-bottom:3px solid #fa0446;
}
@media(max-width:690px){
  .effect{
    background-color: #ffffff;
  }
  .effect__inner-title{
    line-height: 36px;
    font-size: 30px;
    margin-top: 76px;
  }
  .effect__inner-text{
    font-size: 14px;
    line-height: 24px;
    margin-top: -14px;
  }
  .effect__inner-link{
    line-height: 24px;
    font-size: 14px;
  }
  .proposal__title-text-br{
    display: block;
  }
  .effect__img--logo{
    width:238px;
    height:276;
  }
}
@media(max-width:490px){
  .effect-box-disabel{
    display: none;
  }
}
  