.effect{
  margin-top:70px;
  display: flex;
  justify-content: space-between;
}
.effect__img{
  margin-right: 72px;
}
.effect__inner{
  &-title{
    color: #000000;
    font-weight:700;
    line-height: 30px;
    font-size: 30px;
    margin-top: 85px;
  }
  &-text{
    color:#283645;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top:26px;
  }
  &-link{
    color: #D22856;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    border-bottom:3px solid #D22856;
  }
}