.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__card{
  max-width: 300px;
  margin-bottom: 20px;
  min-height:560px;
  background-color: #f5efef;
  &-name{
    color:#283645;
    font-size:14px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 27px;
  }
  &-text{
    color: #283645;
    font-size:14px;
    font-weight: 300;
    line-height: 24px;
    padding-left: 27px;
    max-width: 265px;
    min-height: 50px;
  }
  &-like{
    color: #D22856;
    font-size:14px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 27px;
  }
}
.gallery__card-like::after{
  content: url('../../img/heart.svg');
  margin-left: 140px;
}
.gallery__card:nth-child(1){
  margin-right: 20px;
}
.gallery__card:nth-child(2){
  margin-right: 20px;
}
.gallery__card:nth-child(4){
  margin-right: 20px;
}
.gallery__card:nth-child(5){
  margin-right: 20px;
}
.gallery__card:nth-child(1) .gallery__card-name::after{
  content: "(5 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}
.gallery__card:nth-child(2) .gallery__card-name::after{
  content: "(12 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}
.gallery__card:nth-child(3) .gallery__card-name::after{
  content: "(20 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}
.gallery__card:nth-child(4) .gallery__card-name::after{
  content: "(25 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}
.gallery__card:nth-child(5) .gallery__card-name::after{
  content: "(40 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}
.gallery__card:nth-child(6) .gallery__card-name::after{
  content: "(45 часов назад)";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color:#4e5b69;
  margin-left: 4px;
}