.header{
  background-image: url('../../img/header-phone.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  min-height: 100vh;
  background-color:#1D2631 ;
}
.header__top{
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  text-align: center;
}
.header__img{
  margin-top: 30px;
  z-index: 2;
}
.header__nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 50px;
  li + li{
    margin-left: 77px;
  }
}
.header__nav-list{
  transition: all .2s;
  padding-bottom: 6px;
}
.header__nav-list:hover{
  border-bottom:2px solid #FFFFFF;
}
.activ{
  border-bottom:2px solid #FFFFFF;
}
.header__inner-title{
  max-width: 300px;
  margin-top: 155px;
}
.header__inner-title-text{
  font-size: 50px;
  font-weight:300;
  line-height: 68px;
  color:#ffffff;
  text-align: center;
  margin-bottom: 51px;
}
.header__inner--btn{
  max-width: 310px;
  &-inner{
    font-weight: 700;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    padding: 20px 32px;
    border: 3px solid #FFFFFF;
    border-radius: 29px;
    color: #FFFFFF;
    transition: all .3s;
  }
  &-inner:hover{
    color:#D22856ed;
    background-color: #FFFFFF;
  }
  &-inner:active{
    background-color: #FFFFFF;
    color:rgba(210, 40, 86, 0.5);
    transition: none;
  }
  margin-bottom: 77px;
}
.header__inner-sozial-logo{
  max-width: 310px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: flex-end;
}
.header__inner-support{
  max-width: 310px;
  text-align: center;
  &-text{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 100px;
  }
}
.header__nav-btn{
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  top: 36px;
  right: 20px;
  display: none;
  z-index: 3;
}
.header__nav-btn::after,
.header__nav-btn::before{
  content: '';
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  border-radius:3px ;
}
.header__nav-btn::before{
  top: 10px;
}
.header__nav-btn::after{
  bottom: 10px;
}

.header__nav-btn span{
  display: block;
  height: 4px;
  background-color: #FFFFFF;
  border-radius:3px ;
}
.header__nav-btn.list--activ::before{
  transform: rotate(-45deg);
  top:17px;
}
.header__nav-btn.list--activ::after{
  transform: rotate(45deg);
  bottom: 23px;
}
.header__nav-btn.list--activ span {
  transform: scale(0);
}
.disabel{
  visibility: hidden;
}

// адаптив 

@media(max-width:900px){
  .header__nav ul{
    position: absolute;
    top: -88%;
    left: 0;
    display: inline-block;
    background-color: #283645;
    transition: all .5s;
    width: 100%;
    line-height: 70px;
    padding: 28px 0 0 0;
    border: 1px solid black;
  }
  .header__nav-btn{
    display: block;
  }
  .header__img{
    margin-top: 30px;
  }
  .header__nav ul li + li{
    margin-left:0;
  }
  .header__nav-list{
    border: 1px solid #182029;
  } 
  .activ{
    border: none;
  }
  .list.list--activ{
    top:-17%;
  }
  .disabel{
    visibility:visible;
    height: 105px;
  }
  .header__inner-title-text-bottom{
    margin-top: 300px;
    transition: all 0.5s;
  }
  .header__bottom-img-big{
    background-position: 100% 100%;
    background-size: 100% 71%;
    transition: all .5s;
  }
}
@media(max-width:620px){
  .header__bottom-img-big {
    background-position: 45% 100%;
    background-size: 212% 71%;
    transition: all 0.5s;
  }
}
@media(max-width:330px){
  .header__inner-title-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;
  }
  .header__inner--btn-inner {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 21px 39px;
    margin: 0 0 0 12px;
  }
  .header__inner-title{
    margin-top: -17px;
  }
  .menu__bottom{
    margin-top: 300px;
    transition: all .5s;
  }
  .header__inner--btn {
    margin-top: 356px;
  }
  .header {
    background-position: 102% 17%;
    background-size: 155% 45%;
  }
  .header__bottom-img{
    background-position: 101% 48%;
    background-size: 159% 33%;
    transition: all 0.5s;
  }
}
@media(max-width:320px){
  .header__inner--btn-inner {
    padding: 14px 11px;
    margin: 0 0 0 56px;
    font-size: 13px;
  }
}