.loading__heading{
  margin-top: 95px;
  &-text{
    color:#283645;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
}
.loading__inner{
  display: flex;
  justify-content: space-between;
}