.proposal__title{
  text-align: center;
  margin-top: 77px;
  max-width: 810px;
  &-text{
    font-weight: 300;
    font-size: 55px;
    line-height: 68px;
    color:#283645 ;
  }
}
.proposal__card{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  &-title{
    color: #000000;
    font-weight:700;
    line-height: 30px;
    font-size: 30px;
    max-width: 200px;
    text-align: center;
  }
  &-text{
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    color: #283645;
  }
}
.proposal__card-title-wrap{
  white-space: nowrap;
}
.proposal__card-conteiner{
  margin-right: 90px;
  max-width: 320px;
}






