.proposal{
  background-image: url(../../img/grey\ background.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size:100% 73%;
}
.proposal__title{
  text-align: center;
  margin-top: 77px;
  // max-width: 810px;
  &-text{
    font-weight: 300;
    font-size: 55px;
    line-height: 68px;
    color:#283645 ;
  }
}
.proposal__card{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  &-title{
    color: #000000;
    font-weight:700;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
  }
  &-text{
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    color: #283645;
    max-width: 320px;
  }
  &-img{
    margin-left: 27px;
  }
}
.proposal__card-title-wrap{
  white-space: nowrap;
}
.proposal__card-conteiner{
  margin-right: 90px;
}
.proposal__title-text-br{
  display: none;
}
.contein-img{
  display: none;
}
// адаптив 
@media(max-width:850px){
  .proposal__card-conteiner:nth-child(2) .proposal__card-img{
    display: none;
  }
  .proposal__card-conteiner:nth-child(3) .proposal__card-img{
    display: none;
  } .proposal__card-conteiner:nth-child(4) .proposal__card-img{
    display: none;
  }
  .proposal__card{
    flex: none;
    display: grid;
    grid-template-rows: 53px 104px 153px;
    grid-template-columns: 1fr 1fr ;
    grid-row-start:1 ;
    grid-row-end:6; 
    grid-template-areas: 
      "contein-img contein-1"
      "contein-img contein-1"
      "contein-img contein-2"
      "contein-img contein-2"
      "contein-img contein-3"
      "contein-img contein-3";
    .contein-1{
      grid-area: contein-1;
    }
    .contein-2{
      grid-area: contein-2;
    }
    .contein-3{
      grid-area: contein-3;
    }
    .contein-img{
      grid-area: contein-img;
    }
    .contein-img{
      display: grid;
      background-image: url(../../img/tel-adaptiv-850px.png);
      background-repeat: no-repeat;
      background-size: 305px 649px;
    }
    .proposal__card-title {
      line-height: 24px;
      font-size: 18px;
      text-align: left;
    }
    .proposal__card-text {
      text-align: left;
      line-height: 24px;
      font-size: 14px;
    }
    .proposal__card-title-br{
      display: none;
    }
  }
}
@media(max-width:840px){
  .proposal__title-text {
    font-size: 40px;
    line-height: 54px;
  }
}
@media(max-width:650px){
  .proposal {
    background-position: center;
    background-size: 349% 100%;
}
  .proposal__card{
    flex: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 309px ;
    grid-template-columns:260px ;
    grid-row-start:1 ;
    grid-row-end:6; 
    grid-template-areas: 
      " contein-1"
      "contein-2"
      "contein-3"
      "contein-img";
      grid-row-gap:10px;
      justify-content: center;
  }
  .proposal__card .contein-img{
    margin: 8px 0 0 46px;
    background-size: 157px 340px;
  }
  .proposal__card-conteiner {
    margin-right:0;
}
.proposal__card .proposal__card-text {
  max-width: 260px;
}
}
@media(max-width:370px){
  .proposal__title{
    margin-top: 50px;
  }
  .proposal__title-text {
    font-size: 24px;
    line-height: 28px;
  }
  .proposal__title-text-br{
    padding-bottom: 42px;
    display: block;
  }
}






