.sozial__title{
  margin-top: 194px;
  &-inner{
    color: #283645;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
  }
}
.sozial__card{
  display: flex;
  justify-content: space-between;
}
.sozial__contact{
  &-text{
    color: #283645;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align:center;
  }
  &-tel{
    color:#D22856;
    font-size: 24px;
    font-weight: 300;
    line-height: 37px;
  }
}
.sozial__adres{
  &-text{
    color: #283645;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align:center;
  }
  &-adres{
    color:#D22856;
    font-size: 24px;
    font-weight: 300;
    line-height: 37px;
  }
}
.sozial__email{
  &-text{
    color: #283645;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align:center;
  }
  &-email{
    color:#D22856;
    font-size: 24px;
    font-weight: 300;
    line-height: 37px;
  }
}
