.table{
  background-image: url(../../img/grey\ background.png);
  background-repeat: no-repeat;
  background-size: 100% 171%;
  padding-top: 1px; padding-bottom: 95px;
}

.table_inner{
  margin-top: 195px;
  border-spacing: 3px 3px;
  .table__content-text{
    color:#283645;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .table__content-top{
    background-color: #283645;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    position: relative;
  }
  .table__content-top-hit{
    background-image: url(../../img/hit.svg);
    background-repeat: no-repeat;
  }
}
.table_inner tr td{
  width:233px;
  height:94px; 
}
.table__content-text-background{
  background-color:#FFFFFF;
}